.wrapper
  h1 Wallet App

  .panel
    =form_with url: users_path, method: 'post', local: true do
       =submit_tag "Add new user"
  
  -User.all.order(id: :asc).each do |user|
    .panel
      .user-card
        div
          label user_name: 
          span=user.name
        .actions
          =form_with url: user_wallets_path(user), method: 'post', local: true do
             =submit_tag "Create wallet"
      .wallets
        -user.wallets.order(id: :asc).each do |wallet|
          .wallet-card
            div
              label wallet_id: 
              span=wallet.id
            div
              label wallet_name: 
              span=wallet.name
            div
              label balance: 
              span style="background-color: yellow"
                =wallet.balance 
            br
            .actions
              div
                button.withdraw-btn data-url=withdraw_user_wallet_path(user, wallet)
                  |withdraw

                button.deposit-btn data-url=deposit_user_wallet_path(user, wallet)
                  |deposit
              div
                button.send-btn data-url=pay_user_wallet_path(user, wallet)
                  |send
                button.transactions-btn data-url=transactions_user_wallet_path(user, wallet)
                  |transactions

      .transactions

#message_dialog

javascript:
  $(function(){

    var display_dialog = function(type, url, content, title){

      var message = $('#message_dialog')
      message.html(content)

      var buttons = [{
        text: 'Cancel',
        click: function(){message.dialog('close')}
      }]
      
      if(type == 'deposit'){
        buttons.push({
          text: 'Confirm',
          click: function(){
            $.post(
              url,
              {amount: $('#deposit_amount').val()} 
            ).done(function(){location.reload();})
          }
        })
      }

      if(type == 'withdraw'){
        buttons.push({
          text: 'Confirm',
          click: function(){
            $.post(
              url,
              {amount: $('#withdraw_amount').val()} 
            ).done(function(){location.reload();})
          }
        })
      }

      if(type == 'send'){
        buttons.push({
          text: 'Confirm',
          click: function(){
            $.post(
              url,
              {
                amount: $('#send_amount').val(),
                send_to_wallet_id: $('#send_to_wallet_id').val()
              } 
            ).done(function(){location.reload();})
          }
        })
      }

      message.dialog(
        {
          buttons: buttons,
          title: title,
          modal: true,
          closeOnEscape: false,
          dialogClass: 'no-close',
          width: "30%"
        }
      ).show()
    }


    $('.deposit-btn').click(function(e){
      var content = "<label>Amount:</label><input type='text' id='deposit_amount'>"
      var title = 'How much do you want to deposit?'
      var url = $(e.target).data('url') 
      display_dialog('deposit',url, content, title)
    })

    $('.withdraw-btn').click(function(e){
      var content = "<label>Amount:</label><input type='text' id='withdraw_amount'>"
      var title = 'How much do you want to withdraw?'
      var url = $(e.target).data('url') 
      display_dialog('withdraw',url, content, title)
    })

    $('.send-btn').click(function(e){
      var content = "<label>Amount:</label><input type='text' id='send_amount'>" +
                    "<br><label>Send to:</label><input type='text' id='send_to_wallet_id' placeholder='wallet_id'>"
      var title = 'How much do you want to send?'
      var url = $(e.target).data('url') 
      display_dialog('send',url, content, title)
    })

    $('.transactions-btn').click(function(e){
      var url = $(e.target).data('url') 
      $.get(url).done(function(partial){
        $(e.target).closest('.panel').find('.transactions').html(partial)
      })
    })
  })
